<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Ajout</title>
    </h:head>
    <h:body>
       <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Créer un mots cle" />
            <ui:define name="content">
               
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Ajout/Modif"/></h1>
                        
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Question" for="question" />
                            <h:selectOneMenu id="utilisateur" value="#{notification._notification.question}"   
                                            title="question" required="true" 
                                            converter="#{QuestionConverter}">   
                               <f:selectItems value="#{notification.allQuestion}"  
                                              var="item"   
                                              itemLabel="#{item.libelle}" itemValue="#{item}" /> 
                           </h:selectOneMenu>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Etat:" for="etat" />
                            <h:inputText id="etat" value="#{notification._notification.etat}" 
                                         title="Etat">
                                <f:convertNumber integerOnly="true" type="number" />
                            </h:inputText>
                            <h:message for="etat"/>
                        </h:panelGrid>
                        <h:commandButton action='#{notification.creerNotification()}'
                                         value="Créer la notification"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

