<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Ajout</title>
    </h:head>
    <h:body>
       <ui:composition template="/WEB-INF/template/template.xhtml">
          
            <ui:param name="titre" value="Créer un reponse" />
            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Ajout/Modif"/></h1>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Libelle:" for="libelle" />
                            <h:inputText id="libelle" value="#{reponse._reponse.libelle}" 
                                         title="Libelle" 
                                         required="true"/>
                            <h:message for="libelle"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Date" for="daty" />
                            <h:inputText id = "daty" value = "#{reponse._reponse.daty}"
                                label = "Date" >
                                <f:convertDateTime pattern = "yyyy-mm-dd" />
                            </h:inputText>
                            <h:message for="daty"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Heure" for="heure" />
                            <h:inputText id="heure" value="#{reponse._reponse.heure}" 
                                         title="Heure" 
                                         required="true"/>
                            <h:message for="heure"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Vote" for="vote" />
                            <h:inputText id="vote" value="#{reponse._reponse.vote}" 
                                         title="Vote">
                                <f:convertNumber integerOnly="true" type="number" />
                            </h:inputText>
                            <h:message for="vote"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Etat" for="etat" />
                            <h:inputText id="etat" value="#{reponse._reponse.etat}" 
                                         title="Etat" >
                                <f:convertNumber integerOnly="true" type="number" />
                            </h:inputText>
                            <h:message for="etat"/>
                        </h:panelGrid>
                        
                        
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Utilisateur" for="utilisateur" />
                            <h:selectOneMenu id="utilisateur" value="#{reponse._reponse.utilisateur}"   
                                            title="utilisateur" required="true" 
                                            converter="#{UtilisateurConverter}">   
                               <f:selectItems value="#{reponse.allUtilisateur}"  
                                              var="item"   
                                              itemLabel="#{item.nom}" itemValue="#{item}" /> 
                           </h:selectOneMenu>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Confidentialite" for="confidentialite" />
                            <h:selectOneMenu id="confidentialite" value="#{reponse._reponse.confidentialite}"   
                                            title="confidentialite" required="true" 
                                            converter="#{ConfidentialiteConverter}">   
                               <f:selectItems value="#{reponse.allConfidentialite}"  
                                              var="item"   
                                              itemLabel="#{item.libelle}" itemValue="#{item}" /> 
                           </h:selectOneMenu>
                        </h:panelGrid>
                        
                        <h:commandButton action='#{reponse.creerReponse()}'
                                         value="Créer la reponse"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

