<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Ajout</title>
    </h:head>
    <h:body>
       <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Créer mots cle par question" />
            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Ajout/Modif"/></h1>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Mots cle" for="motscle" />
                            <h:selectOneMenu id="motscle" required="true" value="#{motsCleQuestion._motsCleQuestion.motscle}"
                                             converter="#{MotsCleConverter}">
                                <f:selectItems value="#{motsCleQuestion.allMotsCle}" var="mc" 
                                   itemLabel="#{mc.contenu}"/>
                            </h:selectOneMenu>
                            <h:message for="libelle"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Question" for="question" />
                            <h:selectOneMenu id="question" required="true" value="#{motsCleQuestion._motsCleQuestion.question}"
                                             converter="#{QuestionConverter}">
                                <f:selectItems value="#{motsCleQuestion.allQuestion}" var="code" 
                                   itemLabel="#{code.libelle}"/>
                            </h:selectOneMenu>
                            <h:message for="Question"/>
                        </h:panelGrid>
                        <h:commandButton action='#{motsCleQuestion.creerMotsCleQuestion()}'
                                         value="Créer mots cle question"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

