<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>ITUI</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Liste des mots cle par question"/>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <p:dataTable value="#{motsCleQuestion.allMotsCleQuestion}" var="item"
                                     tableStyle="width:auto" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="2,5,10,20">
                            <p:column width="40">
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.question.libelle}" sortBy="#{item.question.libelle}">
                                <f:facet name="header">
                                    <h:outputText value="Question"/>
                                </f:facet>
                                <h:outputText value="#{item.question.libelle}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.motscle.contenu}" sortBy="#{item.motscle.contenu}">
                                <f:facet name="header">
                                    <h:outputText value="Mots cle"/>
                                </f:facet>
                                <h:outputText value="#{item.motscle.contenu}"/>
                            </p:column>
                            
                            <p:column width="10">
                                <f:facet name="header">
                                  <h:outputText value="Opérations"/>
                                </f:facet>
                                <p:commandLink action="#{motsCleQuestion.supprimerMotsCleQuestion(item)}">
                                    <p:confirm 
                                        header="Confirmation"
                                        message="Voulez-vous vraiment supprimer?" />
                                    <h:graphicImage name="images/del.png"/>
                                </p:commandLink>
                                <br/>
                                <h:commandLink action="#{motsCleQuestion.getMotsCleQuestionId(item)}" value="Modifier">
                                </h:commandLink>
                                
                            </p:column>
                        </p:dataTable>
                        <p:confirmDialog global="true">
                          <p:commandButton value="Oui" type="button" 
                                           styleClass="ui-confirmdialog-yes"/>
                          <p:commandButton value="Non" type="button" 
                                           styleClass="ui-confirmdialog-no"/>
                        </p:confirmDialog>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

