<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/login.css"/>
        <title>ITUI</title>
    </h:head>
    
    <h:body>
        
        <div id="container">
            <h:messages errorStyle="font-weight: bold; color: red;"
                globalOnly="true"/>
            
            <h:form id="form">
                <fieldset>
                    <legend>Authentification</legend>
                    <h:outputText value="#{bundle.Login_Message}"/>

                    <h:panelGrid columns="3">
                    <h:outputText value="Mail :" />
                    <h:inputText id="login" value="#{loginBean.nom}" 
                                 required="true"
                                 requiredMessage="Vous devez entrer un mail"/>
                    <h:message for="login" errorStyle="font-weight: bold; color: red;"/>
                    <h:outputText value="Mot de passe : "/>
                    <h:inputSecret id="mot_de_passe"
                                   value="#{loginBean.motDePasse}"
                                   required="true"
                                   requiredMessage="Vous devez entrer un mot de passe"/>
                    <h:message for="mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
                  </h:panelGrid>
                  <p><h:commandButton value="Login" action="#{loginBean.login}"/></p>
                </fieldset>
            </h:form>
        </div>
    </h:body>
</html>




