<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  <ul>
    s
    <li><h:link outcome="confidentialite/liste.xhtml" value="Liste des confidentialit&eacute;s"/></li>
    <li><h:link outcome="/listeComptesLazy" value="Liste des comptes avec lazy loading"/></li>
    <li><h:link outcome="/transfertArgent" value="Transfert d'argent"/></li>
    <li><h:link outcome="/transfertArgent_Ajax" value="Transfert d'argent avec Ajax"/></li>
    <h:form>
      <li><h:commandLink action="/pagePreFlotTransfert" value="Transfert d'argent avec flot, page"/></li>
    </h:form>
    <ui:remove>
      <li><h:link outcome="flotTransfert" value="Transfert d'argent avec flot"/></li>
    </ui:remove>
    <li><h:link outcome="/creationCompte" value="Créer un compte"/></li>
  </ul>
</ui:composition>

