<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:p="http://primefaces.org/ui">

  <h:form>
    <p:panelMenu style="width:150px;">
        <p:submenu label="Confidentialit&eacute;s" expanded="true">
            <p:menuitem url="/page/admin/confidentialite/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/confidentialite/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Mots cle" expanded="true">
            <p:menuitem url="/page/admin/motscle/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/motscle/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Question" expanded="true">
            <p:menuitem url="/page/admin/question/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/question/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Reponse" expanded="true">
            <p:menuitem url="/page/admin/reponse/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/reponse/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Notification" expanded="true">
            <p:menuitem url="/page/admin/notification/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/notification/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Utilisateur" expanded="true">
            <p:menuitem url="/page/admin/utilisateur/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/utilisateur/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Role" expanded="true">
            <p:menuitem url="/page/admin/role/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/role/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Utilisateur Role" expanded="true">
            <p:menuitem url="/page/admin/utilisateurrole/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/utilisateurrole/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Question reponse" expanded="true">
            <p:menuitem url="/page/admin/questionreponse/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/questionreponse/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Mots cle Question" expanded="true">
            <p:menuitem url="/page/admin/motsclequestion/liste.xhtml" value="Liste"/>
            <p:menuitem url="/page/admin/motsclequestion/ajout.xhtml" value="Ajout"/>
        </p:submenu>
        <p:submenu label="Configuration" expanded="true">
            <p:menuitem action="#{loginBean.logout()}" value="Deconnexion"/>
        </p:submenu>
    </p:panelMenu>
  </h:form>

</ui:composition>

