<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

  <body>

    <ui:composition template="./template.xhtml">
      <ui:param name="titre" value="Transfert d'argent entre 2 comptes"/>

      <ui:define name="content">
        <div id="barreNavigation" style="background-color: lightblue;">
          <ui:insert name="barreNavigation"/>
          <br/><br/>
          <h:form>
            <h:button outcome="sortieFlot" value="Annuler le transfert"/>
          </h:form>
        </div>
        <br/>
        <div id="contenuPage">
          <ui:insert name="contenuPage"/>
        </div>
      </ui:define>

    </ui:composition>

  </body>
</html>
