<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   xmlns:f="http://xmlns.jcp.org/jsf/core"
   xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
   >
   <h:head>
      <title>Details question</title>
   </h:head>
   <h:body>
      <f:view>
         <h:form id="form">
            <h1>
               <h:outputText value="Create/Edit"/>
            </h1>
            <h:panelGrid columns="2">
               <h:outputLabel value="Categorie:" for="categorie" />
               <h:inputText id="categorie" value="#{questionBean.detailsQuestion().categorie}" title="Categorie"  valueChangeListener="categorie" />
               <h:outputLabel value="Daty:" for="daty" />
               <h:inputText id="daty" value="#{questionBean.detailsQuestion().daty}" title="Daty" disabled="true">
                  <f:convertDateTime pattern="MM/dd/yyyy" />
               </h:inputText>
               <h:outputLabel value="Heure:" for="heure" />
               <h:inputText id="heure" value="#{questionBean.detailsQuestion().heure}" title="Heure" disabled="true" />
               <h:outputLabel value="Libelle:" for="libelle" />
               <h:inputText id="libelle" value="#{questionBean.detailsQuestion().libelle}" title="Libelle" />
               <h:outputLabel value="ConfidentialiteId:" for="confidentialiteId" />
               <h:selectOneMenu id="confidentialiteId" value="#{questionBean.detailsQuestion().confidentialiteId}" title="ConfidentialiteId" >
                  <!-- TODO: update below reference to list of available items-->
                  <f:selectItems value="#{fixme}"/>
               </h:selectOneMenu>
               <h:commandButton value="Modifier">
                  <f:ajax event="click" execute="#{questionBean.Modifier(questionBean.detailsQuestion().id)}" render="form:inputToBeUpdated"/>
               </h:commandButton>
               <h:inputText id="inputToBeUpdated" value="#{questionBean.msg}"/>
            </h:panelGrid>
         </h:form>
         #{questionBean.msg}
      </f:view>
   </h:body>
</html>