<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html">
   <h:head>
      <title>Accueil</title>
      <h:outputStylesheet library="css" name="/bootstrap.min.css"  />
   </h:head>
   <h:body>
      <div class="jumbotron text-center">
         <h1>Menu</h1>
         <p>Bienvenu!</p>
      </div>
      <div class="container">
         <h:link outcome="listequestion" value="Liste question"/>
         <br></br>
         <h:link outcome="profil" value="Profil"/>
         <br></br>
         <h:commandButton value="Déconnexion" action="#{loginBean.logout}" class="btn-primary btn"/>
         <br></br>
      </div>
   </h:body>
</html>