<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   xmlns:f="http://xmlns.jcp.org/jsf/core">
   <h:head>
      <title>Liste question</title>
      <h:outputStylesheet library="css" name="/bootstrap.min.css"  />
   </h:head>
   <h:body>
      <f:view>
         <h:form>
            <div class="jumbotron text-center">
               <h1>
                  <h:outputText value="Liste question"/>
               </h1>
            </div>
            <div class="container">
               <div class="row">
                  <h:dataTable value="#{questionBean.question}" var="item">
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="Categorie"/>
                        </f:facet>
                        <h:outputText value="#{item.categorie}"/>
                     </h:column>
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="Date"/>
                        </f:facet>
                        <h:outputText value="#{item.daty}">
                           <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                     </h:column>
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="Etat"/>
                        </f:facet>
                        <h:outputText value="#{item.etat}"/>
                     </h:column>
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="Heure"/>
                        </f:facet>
                        <h:outputText value="#{item.heure}"/>
                     </h:column>
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="Libelle"/>
                        </f:facet>
                        <h:outputText value="#{item.libelle}"/>
                     </h:column>
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="ConfidentialiteId"/>
                        </f:facet>
                        <h:outputText value="#{item.confidentialiteId}"/>
                     </h:column>
                     <h:column>
                        <f:facet name="header">
                           <h:outputText value="Action"/>
                        </f:facet>
                        <h:commandButton value="Supprimir" class="btn btn-danger btn-xs" action="#{questionBean.Supprimer(item.id)}"/>
                        <h:commandButton value="Modifier" class="btn btn-info btn-xs" action="#{questionBean.Voir(item.id)}"/>
                        <h:commandButton value="Voir les réponses" class="btn btn-default btn-xs" action="#{questionBean.voirReponse(item.id)}"/>
                     </h:column>
                  </h:dataTable>
               </div>
               <h:link outcome="nouveauQuestion" value="Créer une nouvelle question"/>
            </div>
         </h:form>
      </f:view>
   </h:body>
</html>