<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   xmlns:f="http://xmlns.jcp.org/jsf/core">
   <h:head>
      <title>Liste réponse</title>
   </h:head>
   <h:body>
      <f:view>
         <h:form>
            <h1>
               <h:outputText value="List"/>
            </h1>
            <h:dataTable value="#{reponseBean.reponse}" var="item">
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="Id"/>
                  </f:facet>
                  <h:outputText value="#{item.id}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="Daty"/>
                  </f:facet>
                  <h:outputText value="#{item.daty}">
                     <f:convertDateTime pattern="MM/dd/yyyy" />
                  </h:outputText>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="Etat"/>
                  </f:facet>
                  <h:outputText value="#{item.etat}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="Heure"/>
                  </f:facet>
                  <h:outputText value="#{item.heure}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="Libelle"/>
                  </f:facet>
                  <h:outputText value="#{item.libelle}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="Vote"/>
                  </f:facet>
                  <h:outputText value="#{item.vote}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="ConfidentialiteId"/>
                  </f:facet>
                  <h:outputText value="#{item.confidentialiteId}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="QuestionId"/>
                  </f:facet>
                  <h:outputText value="#{item.questionId}"/>
               </h:column>
               <h:column>
                  <f:facet name="header">
                     <h:outputText value="UtilisateurId"/>
                  </f:facet>
                  <h:outputText value="#{item.utilisateurId}"/>
               </h:column>
            </h:dataTable>
         </h:form>
      </f:view>
   </h:body>
</html>