<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   xmlns:f="http://xmlns.jcp.org/jsf/core"
   xmlns:p="http://primefaces.org/ui">
   <h:head>
      <title>Création Nouveau question</title>
      <h:outputStylesheet library="css" name="/bootstrap.min.css"  />
   </h:head>
   <h:body>
      <f:view>
         <h:form>
            <div class="jumbotron text-center">
               <h1>
                  <h:outputText value="Nouvelle question"/>
               </h1>
            </div>
            <p:panelGrid columns="2" class="container">
               <p:outputLabel value="Categorie:" for="categorie" />
               <p:inputText id="categorie" value="#{questionBean.categorie}" title="Categorie" />
               <p:outputLabel value="Contenu :" for="libelle" />
               <p:editor id="libelle"
                  value="#{questionBean.libelle}"
                  width="500" height="250"
                  widgetVar="editor" 
                  controls="bold italic underline | font size style color highlight | 
                  bullets numbering | alignleft center alignright justify | 
                  undo redo | rule image link unlink | copy cut paste pastetext | 
                  print | outdent indent | removeformat" />
               <h:commandButton value="Ajouter une question" action="#{questionBean.ajouter}" class="btn-info btn"/>
            </p:panelGrid>
         </h:form>
      </f:view>
   </h:body>
</html>