<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   xmlns:f="http://xmlns.jcp.org/jsf/core"
   xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
   >
   <h:head>
      <title>Profil</title>
      <h:outputStylesheet library="css" name="/bootstrap.min.css"  />
   </h:head>
   <h:body>
      <f:view>
         <div class="jumbotron text-center">
            <h1>
               <h:outputText value="Votre profil"/>
            </h1>
         </div>
         <div class="container">
            <div class="row">
               <h:form>
                  <h:panelGrid columns="2">
                     <h:outputLabel value="Login:" for="login" />
                     <h:inputText id="login" value="#{profil.user.login}" title="Login" disabled="true" />
                     <h:outputLabel value="Mail:" for="mail" />
                     <h:inputText id="mail" title="Mail" value="#{profil.mail}" a:placeholder="#{profil.user.mail}" />
                     <h:outputLabel value="Mdp:" for="mdp" />
                     <h:inputText id="mdp" value="#{profil.mdp}" title="Mdp"/>
                     <h:outputLabel value="Nom:" for="nom" />
                     <h:inputText id="nom" value="#{profil.user.nom}" title="Nom" disabled="true" />
                     <h:outputLabel value="Prenom:" for="prenom" />
                     <h:inputText id="prenom" value="#{profil.user.prenom}" title="Prenom" disabled="true"/>
                     <h:commandButton value="Modifier mes informations" action="#{profil.modifier(profil.user.id)}" class="btn btn-info"/>
                  </h:panelGrid>
               </h:form>
               <h:messages>#{profil.msg}</h:messages>
            </div>
         </div>
      </f:view>
   </h:body>
</html>