<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--        <h:link outcome="/admin/index" value="Page admin" ></h:link>
                <h:link outcome="/connect/index" value="Page connect" ></h:link>-->

        Hello !

        <h:link outcome="/page/admin/confidentialite/liste.xhtml" value="Page pour administrateurs"/>

        <h:panelGroup rendered="#{not empty request.userPrincipal}">
            <h:form>
                #{request.userPrincipal.name}
                <h:outputText value=" (Administrateur) "
                              rendered = "#{request.isUserInRole('admin')}"/>

                <h:commandButton value="Logout" action="#{loginBean.logout()}"/>
            </h:form>
        </h:panelGroup>
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
    </h:body>
</html>

