<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://xmlns.jcp.org/jsf/html">
   <h:head>
      <title>Login</title>
      <h:outputStylesheet library="css" name="/bootstrap.min.css"  />
      <h:outputStylesheet library="css" name="/style.css"  />
   </h:head>
   <h:body>
      <h:messages errorStyle="font-weight: bold; color: red;"
         globalOnly="true"/>
      <div class="login-form" >
         <h4 class="modal-title">Connectez-vous à votre compte</h4>
         <h:form id="form">
            <h:outputText value="#{bundle.Login_Message}"/>
            <div class="form-group">
               <h:outputText value="Votre nom d'utilisateur :" />
               <h:inputText id="login" value="#{loginBean.nom}" class="form-control" 
                  required="true"
                  requiredMessage="Vous devez entrer un nom de login"/>
               <h:message for="login" errorStyle="font-weight: bold; color: red;"/>
            </div>
            <div class="form-group">
               <h:outputText value="Mot de passe : "/>
               <h:inputSecret id="mot_de_passe" class="form-control"
                  value="#{loginBean.motDePasse}"
                  required="true"
                  requiredMessage="Vous devez entrer un mot de passe"/>
               <h:message for="mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
            </div>
            <p>
               <h:commandButton value="Login" action="#{loginBean.login}" class="btn btn-primary btn-block btn-lg"/>
            </p>
         </h:form>
      </div>
   </h:body>
</html>