<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Ajout</title>
    </h:head>
    <h:body>
       <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Créer un utilisateur role" />
            <ui:define name="content">
               
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Ajout/Modif"/></h1>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Utilisateur" for="utilisateur" />
                            <h:selectOneMenu id="utilisateur" value="#{utilisateurrole._utilisateurRole.utilisateur}"   
                                            title="utilisateur" required="true" 
                                            converter="#{UtilisateurConverter}">   
                               <f:selectItems value="#{utilisateur.allUtilisateur}"  
                                              var="item"   
                                              itemLabel="#{item.nom}" itemValue="#{item}" /> 
                           </h:selectOneMenu>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Role" for="role" />
                            <h:selectOneMenu id="role" value="#{utilisateurrole._utilisateurRole.role}"   
                                            title="utilisateur" required="true" 
                                            converter="#{RoleConverter}">   
                               <f:selectItems value="#{utilisateur.allRole}"  
                                              var="item"   
                                              itemLabel="#{item.libelle}" itemValue="#{item}" /> 
                           </h:selectOneMenu>
                        </h:panelGrid>
                        <h:commandButton action='#{utilisateurrole.creerUtilisateurRole()}'
                                         value="Créer"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

