<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>ITUI</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Liste des questions"/>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <p:dataTable value="#{question.allQuestion}" var="item"
                                     tableStyle="width:auto" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="2,5,10,20">
                            <p:column width="40">
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.libelle}" sortBy="#{item.libelle}">
                                <f:facet name="header">
                                    <h:outputText value="Libelle"/>
                                </f:facet>
                                <h:outputText value="#{item.libelle}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.categorie}" sortBy="#{item.categorie}">
                                <f:facet name="header">
                                    <h:outputText value="Categorie"/>
                                </f:facet>
                                <h:outputText value="#{item.categorie}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.daty}" sortBy="#{item.daty}">
                                <f:facet name="header">
                                    <h:outputText value="Date"/>
                                </f:facet>
                                <h:outputText value="#{item.daty}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.heure}" sortBy="#{item.heure}">
                                <f:facet name="header">
                                    <h:outputText value="Heure"/>
                                </f:facet>
                                <h:outputText value="#{item.heure}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.titre}" sortBy="#{item.titre}">
                                <f:facet name="header">
                                    <h:outputText value="Titre"/>
                                </f:facet>
                                <h:outputText value="#{item.titre}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.code}" sortBy="#{item.code}">
                                <f:facet name="header">
                                    <h:outputText value="Code"/>
                                </f:facet>
                                <h:outputText value="#{item.code}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.etat}" sortBy="#{item.etat}">
                                <f:facet name="header">
                                    <h:outputText value="Etat"/>
                                </f:facet>
                                <h:outputText value="#{item.etat}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.utilisateur}" sortBy="#{item.utilisateur}">
                                <f:facet name="header">
                                    <h:outputText value="Utilisateur"/>
                                </f:facet>
                                <h:outputText value="#{item.utilisateur.nom}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.confidentialite}" sortBy="#{item.confidentialite}">
                                <f:facet name="header">
                                    <h:outputText value="Confidentialite"/>
                                </f:facet>
                                <h:outputText value="#{item.confidentialite.libelle}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.etat}" sortBy="#{item.etat}">
                                <f:facet name="header">
                                    <h:outputText value="Etat"/>
                                </f:facet>
                                <h:outputText value="#{item.etat}"/>
                            </p:column>
                            <p:column width="10">
                                <f:facet name="header">
                                  <h:outputText value="Opérations"/>
                                </f:facet>
                                <p:commandLink action="#{question.supprimerQuestion(item)}">
                                    <p:confirm 
                                        header="Confirmation"
                                        message="Voulez-vous vraiment supprimer?" />
                                    <h:graphicImage name="images/del.png"/>
                                </p:commandLink>
                                <br/>
                                
                            </p:column>
                        </p:dataTable>
                        <p:confirmDialog global="true">
                          <p:commandButton value="Oui" type="button" 
                                           styleClass="ui-confirmdialog-yes"/>
                          <p:commandButton value="Non" type="button" 
                                           styleClass="ui-confirmdialog-no"/>
                        </p:confirmDialog>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

