<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
          <ui:param name="titre" value="Modifier confidentialite"/>

          <ui:define name="content">
            <f:view>
              <h:form id='form'>
                <h:panelGrid columns="3">
                  <h:outputLabel value="Id: ici ****" for="id" />
                  <h:inputText id="id" value="#{confidentialite.confidentialiteId.id}"
                               readonly="true"/>
                  <h:message for='id'/>

                  <h:outputLabel value="Nom:" for="nom" />
                  <h:inputText id="nom" value="#{confidentialite.confidentialiteId.libelle}" 
                               title="Nom" />
                  <h:message for="nom"/>

                </h:panelGrid>
                <h:commandButton id='enregistrer'
                                 action='#{confidentialite.enregistrer()}'
                                 value='Enregistrer le nouveau confidentialite'
                                 rendered='#{confidentialite.conf != null}'>,
                </h:commandButton>
              </h:form>
            </f:view>

          </ui:define>
        </ui:composition>
    </h:body>
</html>

