<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Ajout</title>
    </h:head>
    <h:body>
       <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Créer un utilisateur" />
            <ui:define name="content">
               
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Ajout/Modif"/></h1>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Nom: " for="nom" />
                            <h:inputText id="nom" value="#{utilisateur._utilisateur.nom}" 
                                         title="Nom" 
                                         required="true"/>
                            <h:message for="nom"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Prenom: " for="prenom" />
                            <h:inputText id="prenom" value="#{utilisateur._utilisateur.prenom}" 
                                         title="Prenom" 
                                         required="true"/>
                            <h:message for="prenom"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Mail: " for="mail" />
                            <h:inputText id="mail" value="#{utilisateur._utilisateur.mail}" 
                                         title="Mail" 
                                         required="true"/>
                            <h:message for="mail"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Login: " for="login" />
                            <h:inputText id="login" value="#{utilisateur._utilisateur.login}" 
                                         title="Login" 
                                         required="true"/>
                            <h:message for="login"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Mots de passe: " for="mdp" />
                            <h:inputText id="mdp" value="#{utilisateur._utilisateur.mdp}" 
                                         title="Mots de passe" 
                                         required="true"/>
                            <h:message for="Mots de passe"/>
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <h:outputLabel value="Etat:" for="etat" />
                            <h:inputText id="etat" value="#{utilisateur._utilisateur.etat}" 
                                         title="Etat">
                                <f:convertNumber integerOnly="true" type="number" />
                            </h:inputText>
                            <h:message for="etat"/>
                        </h:panelGrid>
                        <h:commandButton action='#{utilisateur.creerUtilisateur()}'
                                         value="Créer un utilisateur"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

