<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>ITUI</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:param name="titre" value="Liste des utilisateurs"/>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <p:dataTable value="#{utilisateur.allUtilisateur}" var="item"
                                     tableStyle="width:auto" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="2,5,10,20">
                            <p:column width="40">
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.nom}" sortBy="#{item.nom}">
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.prenom}" sortBy="#{item.prenom}">
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.mail}" sortBy="#{item.mail}">
                                <f:facet name="header">
                                    <h:outputText value="Mail"/>
                                </f:facet>
                                <h:outputText value="#{item.mail}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.login}" sortBy="#{item.login}">
                                <f:facet name="header">
                                    <h:outputText value="Login"/>
                                </f:facet>
                                <h:outputText value="#{item.login}"/>
                            </p:column>
                            <p:column width="300" filterBy="#{item.etat}" sortBy="#{item.etat}">
                                <f:facet name="header">
                                    <h:outputText value="Etat"/>
                                </f:facet>
                                <h:outputText value="#{item.etat}"/>
                            </p:column>
                            <p:column width="10">
                                <f:facet name="header">
                                  <h:outputText value="Opérations"/>
                                </f:facet>
                                <p:commandLink action="#{utilisateur.supprimerUtilisateur(item)}">
                                    <p:confirm 
                                        header="Confirmation"
                                        message="Voulez-vous vraiment supprimer?" />
                                    <h:graphicImage name="images/del.png"/>
                                </p:commandLink>
                                <br/>
                            </p:column>
                        </p:dataTable>
                        <p:confirmDialog global="true">
                          <p:commandButton value="Oui" type="button" 
                                           styleClass="ui-confirmdialog-yes"/>
                          <p:commandButton value="Non" type="button" 
                                           styleClass="ui-confirmdialog-no"/>
                        </p:confirmDialog>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

